.app-summary-card {
  // Summary list component overrides
  .govuk-summary-list {
    margin-bottom: govuk-spacing(-2);

    @include govuk-font($size: 16);
  }

  .govuk-summary-list .govuk-list {
    margin-bottom: govuk-spacing(-2);

    @include govuk-font($size: 16);
  }

  .govuk-summary-list .govuk-details__summary {
    @include govuk-font($size: 16);
  }

  // Add a border if the summary list is not the last item in the summary card
  .govuk-summary-list:not(:last-child) {
    border-bottom: 1px solid govuk-functional-colour(border);
    margin-bottom: govuk-spacing(4);
  }

  .govuk-summary-list__row--error {
    border-left: 5px solid govuk-functional-colour(error);

    padding-left: govuk-spacing(2);

    @include govuk-media-query($from: tablet) {
      padding-left: 0;
    }
  }

  .govuk-summary-list__row--error .govuk-summary-list__key {
    @include govuk-media-query($from: tablet) {
      padding-left: govuk-spacing(2);
    }
  }

  .govuk-summary-list__value--error {
    @include govuk-responsive-margin(1, "bottom");
    color: govuk-functional-colour(error);
    font-weight: 700;
  }
}
